**/settings/*.crun
**/settings/*.dbgdt
**/settings/*.cspy
**/settings/*.cspy.*
**/settings/*.xcl
**/settings/*.dni
**/settings/*.wsdt
**/settings/*.wspos

**/Debug/Exe/
**/Debug/BrowseInfo/

**/Debug/List

**/Obj/*.pbd
**/Obj/*.pbd.*
**/Obj/*.pbi
**/Obj/*.pbi.*

Backup*

*.dep
*.log
*.bin
*.elf
*.hex
*.map
*.o
*.a
*.bak
*.dnx
*ninja*
*.reggroups

.vscode
